--
-- PostgreSQL database dump
--

\restrict wC26lWXezBFfs9tMD19ucUDztAarRp3lu8ze8FdBvkqnNUGSrclcSKAdwAFhmah

-- Dumped from database version 17.9 (Debian 17.9-1.pgdg13+1)
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.user_report DROP CONSTRAINT IF EXISTS user_report_resolved_by_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_report DROP CONSTRAINT IF EXISTS user_report_reporter_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_report DROP CONSTRAINT IF EXISTS user_report_reported_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_report DROP CONSTRAINT IF EXISTS user_report_message_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_report DROP CONSTRAINT IF EXISTS user_report_group_message_id_fkey;
ALTER TABLE IF EXISTS ONLY public.study_group_message DROP CONSTRAINT IF EXISTS study_group_message_sender_id_fkey;
ALTER TABLE IF EXISTS ONLY public.study_group_message DROP CONSTRAINT IF EXISTS study_group_message_reply_to_id_fkey;
ALTER TABLE IF EXISTS ONLY public.study_group_message DROP CONSTRAINT IF EXISTS study_group_message_group_id_fkey;
ALTER TABLE IF EXISTS ONLY public.study_group_membership DROP CONSTRAINT IF EXISTS study_group_membership_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.study_group_membership DROP CONSTRAINT IF EXISTS study_group_membership_group_id_fkey;
ALTER TABLE IF EXISTS ONLY public.study_group DROP CONSTRAINT IF EXISTS study_group_creator_id_fkey;
ALTER TABLE IF EXISTS ONLY public.student_profile DROP CONSTRAINT IF EXISTS student_profile_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.message DROP CONSTRAINT IF EXISTS message_sender_id_fkey;
ALTER TABLE IF EXISTS ONLY public.message DROP CONSTRAINT IF EXISTS message_reply_to_id_fkey;
ALTER TABLE IF EXISTS ONLY public.message DROP CONSTRAINT IF EXISTS message_receiver_id_fkey;
ALTER TABLE IF EXISTS ONLY public.match DROP CONSTRAINT IF EXISTS match_user2_id_fkey;
ALTER TABLE IF EXISTS ONLY public.match DROP CONSTRAINT IF EXISTS match_user1_id_fkey;
ALTER TABLE IF EXISTS ONLY public."like" DROP CONSTRAINT IF EXISTS like_liker_id_fkey;
ALTER TABLE IF EXISTS ONLY public."like" DROP CONSTRAINT IF EXISTS like_liked_id_fkey;
ALTER TABLE IF EXISTS ONLY public.chat_pinned_message DROP CONSTRAINT IF EXISTS chat_pinned_message_user2_id_fkey;
ALTER TABLE IF EXISTS ONLY public.chat_pinned_message DROP CONSTRAINT IF EXISTS chat_pinned_message_user1_id_fkey;
ALTER TABLE IF EXISTS ONLY public.chat_pinned_message DROP CONSTRAINT IF EXISTS chat_pinned_message_message_id_fkey;
ALTER TABLE IF EXISTS ONLY public.chat_pinned_message DROP CONSTRAINT IF EXISTS chat_pinned_message_created_by_id_fkey;
DROP INDEX IF EXISTS public.idx_chat_pinned_pair_created;
ALTER TABLE IF EXISTS ONLY public."user" DROP CONSTRAINT IF EXISTS user_username_key;
ALTER TABLE IF EXISTS ONLY public.user_report DROP CONSTRAINT IF EXISTS user_report_pkey;
ALTER TABLE IF EXISTS ONLY public."user" DROP CONSTRAINT IF EXISTS user_pkey;
ALTER TABLE IF EXISTS ONLY public."user" DROP CONSTRAINT IF EXISTS user_email_key;
ALTER TABLE IF EXISTS ONLY public.match DROP CONSTRAINT IF EXISTS unique_match;
ALTER TABLE IF EXISTS ONLY public."like" DROP CONSTRAINT IF EXISTS unique_like;
ALTER TABLE IF EXISTS ONLY public.study_group_membership DROP CONSTRAINT IF EXISTS unique_group_member;
ALTER TABLE IF EXISTS ONLY public.chat_pinned_message DROP CONSTRAINT IF EXISTS unique_chat_pinned_message;
ALTER TABLE IF EXISTS ONLY public.study_group DROP CONSTRAINT IF EXISTS study_group_pkey;
ALTER TABLE IF EXISTS ONLY public.study_group_message DROP CONSTRAINT IF EXISTS study_group_message_pkey;
ALTER TABLE IF EXISTS ONLY public.study_group_membership DROP CONSTRAINT IF EXISTS study_group_membership_pkey;
ALTER TABLE IF EXISTS ONLY public.student_profile DROP CONSTRAINT IF EXISTS student_profile_pkey;
ALTER TABLE IF EXISTS ONLY public.message DROP CONSTRAINT IF EXISTS message_pkey;
ALTER TABLE IF EXISTS ONLY public.match DROP CONSTRAINT IF EXISTS match_pkey;
ALTER TABLE IF EXISTS ONLY public."like" DROP CONSTRAINT IF EXISTS like_pkey;
ALTER TABLE IF EXISTS ONLY public.chat_pinned_message DROP CONSTRAINT IF EXISTS chat_pinned_message_pkey;
ALTER TABLE IF EXISTS ONLY public.admin_action_log DROP CONSTRAINT IF EXISTS admin_action_log_pkey;
ALTER TABLE IF EXISTS public.user_report ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."user" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.study_group_message ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.study_group_membership ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.study_group ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.student_profile ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.message ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.match ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."like" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.chat_pinned_message ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.admin_action_log ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.user_report_id_seq;
DROP TABLE IF EXISTS public.user_report;
DROP SEQUENCE IF EXISTS public.user_id_seq;
DROP TABLE IF EXISTS public."user";
DROP SEQUENCE IF EXISTS public.study_group_message_id_seq;
DROP TABLE IF EXISTS public.study_group_message;
DROP SEQUENCE IF EXISTS public.study_group_membership_id_seq;
DROP TABLE IF EXISTS public.study_group_membership;
DROP SEQUENCE IF EXISTS public.study_group_id_seq;
DROP TABLE IF EXISTS public.study_group;
DROP SEQUENCE IF EXISTS public.student_profile_id_seq;
DROP TABLE IF EXISTS public.student_profile;
DROP SEQUENCE IF EXISTS public.message_id_seq;
DROP TABLE IF EXISTS public.message;
DROP SEQUENCE IF EXISTS public.match_id_seq;
DROP TABLE IF EXISTS public.match;
DROP SEQUENCE IF EXISTS public.like_id_seq;
DROP TABLE IF EXISTS public."like";
DROP SEQUENCE IF EXISTS public.chat_pinned_message_id_seq;
DROP TABLE IF EXISTS public.chat_pinned_message;
DROP SEQUENCE IF EXISTS public.admin_action_log_id_seq;
DROP TABLE IF EXISTS public.admin_action_log;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_action_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.admin_action_log (
    id integer NOT NULL,
    admin_id integer NOT NULL,
    action character varying(40) NOT NULL,
    target_user_id integer,
    report_id integer,
    message_id integer,
    details text,
    created_at timestamp without time zone NOT NULL
);


--
-- Name: admin_action_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.admin_action_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: admin_action_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.admin_action_log_id_seq OWNED BY public.admin_action_log.id;


--
-- Name: chat_pinned_message; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_pinned_message (
    id integer NOT NULL,
    user1_id integer NOT NULL,
    user2_id integer NOT NULL,
    message_id integer NOT NULL,
    created_by_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


--
-- Name: chat_pinned_message_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_pinned_message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_pinned_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_pinned_message_id_seq OWNED BY public.chat_pinned_message.id;


--
-- Name: like; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."like" (
    id integer NOT NULL,
    liker_id integer NOT NULL,
    liked_id integer NOT NULL,
    is_like boolean NOT NULL,
    created_at timestamp without time zone
);


--
-- Name: like_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.like_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: like_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.like_id_seq OWNED BY public."like".id;


--
-- Name: match; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.match (
    id integer NOT NULL,
    user1_id integer NOT NULL,
    user2_id integer NOT NULL,
    created_at timestamp without time zone
);


--
-- Name: match_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.match_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: match_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.match_id_seq OWNED BY public.match.id;


--
-- Name: message; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.message (
    id integer NOT NULL,
    sender_id integer NOT NULL,
    receiver_id integer NOT NULL,
    content text NOT NULL,
    reply_to_id integer,
    attachment_filename character varying(255),
    attachment_original_name character varying(255),
    attachment_mime_type character varying(120),
    attachment_size integer,
    attachment_type character varying(20),
    is_read boolean,
    delivered_at timestamp without time zone,
    edited_at timestamp without time zone,
    deleted_at timestamp without time zone,
    created_at timestamp without time zone
);


--
-- Name: message_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.message_id_seq OWNED BY public.message.id;


--
-- Name: student_profile; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.student_profile (
    id integer NOT NULL,
    user_id integer NOT NULL,
    full_name character varying(100) NOT NULL,
    university character varying(100) NOT NULL,
    faculty character varying(100) NOT NULL,
    course integer NOT NULL,
    city character varying(100),
    subjects text,
    interests text,
    description text,
    goals text,
    preferred_subjects text,
    preferred_course character varying(50),
    preferred_city character varying(100),
    prefer_photo_only boolean,
    telegram character varying(50),
    discord character varying(50),
    photo_filename character varying(255),
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


--
-- Name: student_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.student_profile_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: student_profile_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.student_profile_id_seq OWNED BY public.student_profile.id;


--
-- Name: study_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.study_group (
    id integer NOT NULL,
    title character varying(120) NOT NULL,
    subject character varying(100) NOT NULL,
    description text NOT NULL,
    meeting_format character varying(20) NOT NULL,
    city character varying(100),
    max_members integer,
    creator_id integer NOT NULL,
    is_active boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


--
-- Name: study_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.study_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: study_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.study_group_id_seq OWNED BY public.study_group.id;


--
-- Name: study_group_membership; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.study_group_membership (
    id integer NOT NULL,
    group_id integer NOT NULL,
    user_id integer NOT NULL,
    role character varying(20) NOT NULL,
    joined_at timestamp without time zone
);


--
-- Name: study_group_membership_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.study_group_membership_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: study_group_membership_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.study_group_membership_id_seq OWNED BY public.study_group_membership.id;


--
-- Name: study_group_message; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.study_group_message (
    id integer NOT NULL,
    group_id integer NOT NULL,
    sender_id integer NOT NULL,
    content text NOT NULL,
    reply_to_id integer,
    attachment_filename character varying(255),
    attachment_original_name character varying(255),
    attachment_mime_type character varying(120),
    attachment_size integer,
    attachment_type character varying(20),
    edited_at timestamp without time zone,
    deleted_at timestamp without time zone,
    created_at timestamp without time zone
);


--
-- Name: study_group_message_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.study_group_message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: study_group_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.study_group_message_id_seq OWNED BY public.study_group_message.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying(80) NOT NULL,
    email character varying(120) NOT NULL,
    password_hash character varying(512) NOT NULL,
    created_at timestamp without time zone,
    last_seen_at timestamp without time zone,
    profanity_strike_count integer NOT NULL,
    profanity_ban_tier integer NOT NULL,
    profanity_blocked_until timestamp without time zone,
    role character varying(20) NOT NULL,
    is_blocked boolean NOT NULL,
    blocked_until timestamp without time zone,
    chat_muted_until timestamp without time zone
);


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user_report; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_report (
    id integer NOT NULL,
    reporter_id integer NOT NULL,
    reported_user_id integer NOT NULL,
    message_id integer,
    group_message_id integer,
    reason text,
    status character varying(20) NOT NULL,
    action_taken character varying(30),
    created_at timestamp without time zone NOT NULL,
    resolved_at timestamp without time zone,
    resolved_by_id integer,
    resolution_note text
);


--
-- Name: user_report_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_report_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_report_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_report_id_seq OWNED BY public.user_report.id;


--
-- Name: admin_action_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_action_log ALTER COLUMN id SET DEFAULT nextval('public.admin_action_log_id_seq'::regclass);


--
-- Name: chat_pinned_message id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_pinned_message ALTER COLUMN id SET DEFAULT nextval('public.chat_pinned_message_id_seq'::regclass);


--
-- Name: like id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."like" ALTER COLUMN id SET DEFAULT nextval('public.like_id_seq'::regclass);


--
-- Name: match id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match ALTER COLUMN id SET DEFAULT nextval('public.match_id_seq'::regclass);


--
-- Name: message id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message ALTER COLUMN id SET DEFAULT nextval('public.message_id_seq'::regclass);


--
-- Name: student_profile id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_profile ALTER COLUMN id SET DEFAULT nextval('public.student_profile_id_seq'::regclass);


--
-- Name: study_group id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group ALTER COLUMN id SET DEFAULT nextval('public.study_group_id_seq'::regclass);


--
-- Name: study_group_membership id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_membership ALTER COLUMN id SET DEFAULT nextval('public.study_group_membership_id_seq'::regclass);


--
-- Name: study_group_message id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_message ALTER COLUMN id SET DEFAULT nextval('public.study_group_message_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: user_report id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_report ALTER COLUMN id SET DEFAULT nextval('public.user_report_id_seq'::regclass);


--
-- Data for Name: admin_action_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.admin_action_log (id, admin_id, action, target_user_id, report_id, message_id, details, created_at) FROM stdin;
1	1	clear_mute	2	\N	\N	\N	2026-04-06 07:50:45.251972
\.


--
-- Data for Name: chat_pinned_message; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.chat_pinned_message (id, user1_id, user2_id, message_id, created_by_id, created_at) FROM stdin;
1	2	3	1	2	2026-04-04 04:44:36.032477
\.


--
-- Data for Name: like; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."like" (id, liker_id, liked_id, is_like, created_at) FROM stdin;
1	3	2	t	2026-04-04 03:52:41.728598
2	4	2	f	2026-04-04 03:56:25.916926
3	4	3	t	2026-04-04 03:56:34.762097
4	2	3	t	2026-04-04 03:57:46.689254
5	2	4	t	2026-04-04 03:57:55.040618
6	3	4	t	2026-04-04 04:09:09.939133
\.


--
-- Data for Name: match; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.match (id, user1_id, user2_id, created_at) FROM stdin;
1	2	3	2026-04-04 03:57:46.700255
2	3	4	2026-04-04 04:09:09.948128
\.


--
-- Data for Name: message; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: student_profile; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: study_group; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.study_group (id, title, subject, description, meeting_format, city, max_members, creator_id, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: study_group_membership; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.study_group_membership (id, group_id, user_id, role, joined_at) FROM stdin;
\.


--
-- Data for Name: study_group_message; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.study_group_message (id, group_id, sender_id, content, reply_to_id, attachment_filename, attachment_original_name, attachment_mime_type, attachment_size, attachment_type, edited_at, deleted_at, created_at) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_report; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_report (id, reporter_id, reported_user_id, message_id, group_message_id, reason, status, action_taken, created_at, resolved_at, resolved_by_id, resolution_note) FROM stdin;
1	5	3	\N	\N	╨Ц╨░╨╗╨╛╨▒╨░ ╨╜╨░ ╨┐╤А╨╛╤Д╨╕╨╗╤М	open	\N	2026-04-04 04:14:38.30935	\N	\N	\N
\.


--
-- Name: admin_action_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.admin_action_log_id_seq', 1, true);


--
-- Name: chat_pinned_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.chat_pinned_message_id_seq', 1, true);


--
-- Name: like_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.like_id_seq', 6, true);


--
-- Name: match_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.match_id_seq', 2, true);


--
-- Name: message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.message_id_seq', 6, true);


--
-- Name: student_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.student_profile_id_seq', 4, true);


--
-- Name: study_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.study_group_id_seq', 1, false);


--
-- Name: study_group_membership_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.study_group_membership_id_seq', 1, false);


--
-- Name: study_group_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.study_group_message_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_id_seq', 5, true);


--
-- Name: user_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_report_id_seq', 1, true);


--
-- Name: admin_action_log admin_action_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_action_log
    ADD CONSTRAINT admin_action_log_pkey PRIMARY KEY (id);


--
-- Name: chat_pinned_message chat_pinned_message_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_pinned_message
    ADD CONSTRAINT chat_pinned_message_pkey PRIMARY KEY (id);


--
-- Name: like like_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."like"
    ADD CONSTRAINT like_pkey PRIMARY KEY (id);


--
-- Name: match match_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_pkey PRIMARY KEY (id);


--
-- Name: message message_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT message_pkey PRIMARY KEY (id);


--
-- Name: student_profile student_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_profile
    ADD CONSTRAINT student_profile_pkey PRIMARY KEY (id);


--
-- Name: study_group_membership study_group_membership_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_membership
    ADD CONSTRAINT study_group_membership_pkey PRIMARY KEY (id);


--
-- Name: study_group_message study_group_message_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_message
    ADD CONSTRAINT study_group_message_pkey PRIMARY KEY (id);


--
-- Name: study_group study_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group
    ADD CONSTRAINT study_group_pkey PRIMARY KEY (id);


--
-- Name: chat_pinned_message unique_chat_pinned_message; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_pinned_message
    ADD CONSTRAINT unique_chat_pinned_message UNIQUE (user1_id, user2_id, message_id);


--
-- Name: study_group_membership unique_group_member; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_membership
    ADD CONSTRAINT unique_group_member UNIQUE (group_id, user_id);


--
-- Name: like unique_like; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."like"
    ADD CONSTRAINT unique_like UNIQUE (liker_id, liked_id);


--
-- Name: match unique_match; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT unique_match UNIQUE (user1_id, user2_id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user_report user_report_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_report
    ADD CONSTRAINT user_report_pkey PRIMARY KEY (id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: idx_chat_pinned_pair_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_pinned_pair_created ON public.chat_pinned_message USING btree (user1_id, user2_id, created_at);


--
-- Name: chat_pinned_message chat_pinned_message_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_pinned_message
    ADD CONSTRAINT chat_pinned_message_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public."user"(id);


--
-- Name: chat_pinned_message chat_pinned_message_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_pinned_message
    ADD CONSTRAINT chat_pinned_message_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.message(id);


--
-- Name: chat_pinned_message chat_pinned_message_user1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_pinned_message
    ADD CONSTRAINT chat_pinned_message_user1_id_fkey FOREIGN KEY (user1_id) REFERENCES public."user"(id);


--
-- Name: chat_pinned_message chat_pinned_message_user2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_pinned_message
    ADD CONSTRAINT chat_pinned_message_user2_id_fkey FOREIGN KEY (user2_id) REFERENCES public."user"(id);


--
-- Name: like like_liked_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."like"
    ADD CONSTRAINT like_liked_id_fkey FOREIGN KEY (liked_id) REFERENCES public."user"(id);


--
-- Name: like like_liker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."like"
    ADD CONSTRAINT like_liker_id_fkey FOREIGN KEY (liker_id) REFERENCES public."user"(id);


--
-- Name: match match_user1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_user1_id_fkey FOREIGN KEY (user1_id) REFERENCES public."user"(id);


--
-- Name: match match_user2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match
    ADD CONSTRAINT match_user2_id_fkey FOREIGN KEY (user2_id) REFERENCES public."user"(id);


--
-- Name: message message_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT message_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public."user"(id);


--
-- Name: message message_reply_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT message_reply_to_id_fkey FOREIGN KEY (reply_to_id) REFERENCES public.message(id);


--
-- Name: message message_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT message_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public."user"(id);


--
-- Name: student_profile student_profile_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_profile
    ADD CONSTRAINT student_profile_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: study_group study_group_creator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group
    ADD CONSTRAINT study_group_creator_id_fkey FOREIGN KEY (creator_id) REFERENCES public."user"(id);


--
-- Name: study_group_membership study_group_membership_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_membership
    ADD CONSTRAINT study_group_membership_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.study_group(id);


--
-- Name: study_group_membership study_group_membership_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_membership
    ADD CONSTRAINT study_group_membership_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: study_group_message study_group_message_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_message
    ADD CONSTRAINT study_group_message_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.study_group(id);


--
-- Name: study_group_message study_group_message_reply_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_message
    ADD CONSTRAINT study_group_message_reply_to_id_fkey FOREIGN KEY (reply_to_id) REFERENCES public.study_group_message(id);


--
-- Name: study_group_message study_group_message_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.study_group_message
    ADD CONSTRAINT study_group_message_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public."user"(id);


--
-- Name: user_report user_report_group_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_report
    ADD CONSTRAINT user_report_group_message_id_fkey FOREIGN KEY (group_message_id) REFERENCES public.study_group_message(id);


--
-- Name: user_report user_report_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_report
    ADD CONSTRAINT user_report_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.message(id);


--
-- Name: user_report user_report_reported_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_report
    ADD CONSTRAINT user_report_reported_user_id_fkey FOREIGN KEY (reported_user_id) REFERENCES public."user"(id);


--
-- Name: user_report user_report_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_report
    ADD CONSTRAINT user_report_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public."user"(id);


--
-- Name: user_report user_report_resolved_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_report
    ADD CONSTRAINT user_report_resolved_by_id_fkey FOREIGN KEY (resolved_by_id) REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict wC26lWXezBFfs9tMD19ucUDztAarRp3lu8ze8FdBvkqnNUGSrclcSKAdwAFhmah

